(
  resources: {},
  entities: {
    4294967298: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.5,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.5,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_serialization_core::wrappers::mesh::GeometryFlag": (
          primitive: Cuboid(
            size: (1.0, 1.0, 1.0),
          ),
          orientation_matrix: ((
            x: 1.0,
            y: 0.0,
            z: 0.0,
          ), (
            x: 0.0,
            y: 1.0,
            z: 0.0,
          ), (
            x: 0.0,
            y: 0.0,
            z: 1.0,
          )),
        ),
        "bevy_serialization_core::wrappers::material::MaterialFlag": (
          color: Srgba((
            red: 1.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          )),
        ),
        "bevy_render::primitives::Aabb": (
          center: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          half_extents: (
            x: 0.5,
            y: 0.5,
            z: 0.5,
          ),
        ),
      },
    ),
    4294967299: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_pbr::light::point_light::PointLight": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          intensity: 1500.0,
          range: 20.0,
          radius: 0.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.08,
          shadow_normal_bias: 0.6,
        ),
        "bevy_pbr::bundle::CubemapVisibleEntities": (),
        "bevy_render::primitives::CubemapFrusta": (),
      },
    ),
  },
)